article .col-25{
    width: 25%;
    float:left;
}
article .prod {
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}
article .prod .name{
    color:red;
}
article .prod .image{
    max-width: 98%;
    height: 150px;
    margin-bottom: 10px;
}
article .prod .price{
    position: absolute;
    left:5px;
    bottom: 0px;
    font-family: Impact,sans-serif;
    font-size: 25px;
    color: orange;
}
article .prod .icons{
    position: absolute;
    right:5px;
    bottom:5px;
    width: 25px;
}
article .prod .new-icon{
    position: absolute;
    top:20px;
    right:2px;
}
